.Sidebar {
  height: calc(100vh - var(--navbar-height));
  background: var(--inverted-bg-color);
  width: var(--sidebar-width);
  transition: width 0.3s;
  position: relative;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switcher {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.collapsBtn {
  position: absolute;
  bottom: 40px;
  right: -40px;
}
