.app.dark {
  --bg-color: #06063c;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #01a601;
  --secondary-color: #049604;
  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #044c9e;
}
