.counterBtn {
  padding: 10px 20px;
  font-size: 30px;
  border: 1px solid black;
  color: white;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
}

h1 {
  margin-left: 35px;
  font-size: 40px;
  font-family: sans-serif;
}
